
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>
    @*Start Header*@
    <center>
        <div class="mt-5">
            <a href="/Home/Index" class="btn btn-danger"> Home </a>
            <a href="/Home/About Us" class=" btn btn-primary"> About Us </a>
            <a href="/Home/Contact Us" class=" btn btn-success"> Contact Us </a>
            <a href="/Home/Privacy" class="btn btn-warning"> Privacy </a>
        </div>
    </center>
    @*End Header*@

    @* Start Body*@
    <center>
        <divclass ="mt-5">
            <h1>Welcome To Privacy Page</h1>

        </divclass>
    </center>
    @* End Body*@

    @*Start Footer*@
    <center>
        <divclass ="mt-5">
            <p>Copyrights & Copy; Route @DateTime.Now.Year</p>
        </divclass>
    </center>
    @*End Footer*@
</body>
</html>
