<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    @*Start Header*@
    <center>
        <div class="mt-5">
            <a href="/Home/Index" class="btn btn-danger"> Home </a>
            <a href="/Home/AboutUs" class=" btn btn-primary"> About Us </a>
            <a href="/Home/ContactUs" class=" btn btn-success"> Contact Us </a>
            <a href="/Home/Privacy" class="btn btn-warning"> Privacy </a>
        </div>
    </center>
    @*End Header*@
 
    <div>
        @RenderBody()
    </div>

    @*Start Footer*@
    <center>
        <divclass ="mt-5">
            <p>Copyrights & Copy; Route @DateTime.Now.Year</p>
        </divclass>
    </center>
    @*End Footer*@
</body>
</html>
